@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

body{
    text-align: center;
    font-family: 'Lora', serif;

}
img {
    width: 300px;
    height: 230px;
    border-radius: 5px;
    transition: 0.9s;
}

img:hover{
    transform: scale(1.1);
}

h1{
    margin-bottom: 50px;
    margin-top: 50px;
}

p{
    text-align: center;
}

a{
    color: #fff;
}
